<script src='https://sdk.uiza.io/uizaplayer.js'></script>

<div id='livestream' style="height:450px; width: 600px;" class="container">

</div>


<script>
    // This code creates an UIZA player without controls, and return the player for the callback
    var live = {{{ json live }}};
    console.log("TCL: feedId", live);
    UZ.Player.init(
        '#livestream', // player element, exp: #element_id, .element_class
        {
            appId: 'a92a4506195d429b8bd992abfa7b93e0',
            playerId: 'YOUR_PLAYER_ID', // option
            playerVersion: 4, // you are using the newest player, player version support API version
            entityId: live.id,
            streamName: live.channelName,
            feedId: live.lastFeedId,
            region: 'ap-southeast-1',
            userInfo: 'YOUR_END_USER_INFO', // option, suggest this is the user id (for analytics)
            width: '100%', // player width, percentage or pixel, exp: '400px'
            height: '100%', // player height, percentage or pixel, exp: '200px'
        },
        function (player) {
            // You can add event listeners at here
            player.on('play', function () {
                console.log('play');
            });
            player.on('pause', function () {
                console.log('pause');
            });
            player.aspectRatio();
            console.log("TCL: player.aspectRatio()", player.aspectRatio());
        }
    )
</script>
