<h4>Event detail</h4>
<div class="container">
    <div
        style="width:500px; height:400px; display: block; margin-left:auto; margin-right:auto; width: 50%; border:aquamarine 1px solid">
        <img style="width:400px; height:300px;display: block; margin-left:auto; margin-right:auto; width: 50%; padding: 20px"
            src="{{retrieveLive.poster}}" alt="Poster">
        <br>
        <span
            style="font-size:20px;color:red;display: block; margin-left:auto; margin-right:auto; width: 50%; text-align: center; font: bold">{{retrieveLive.name}}</span>
    </div>
</div>