<h4>Event detail</h4>
<div class="container">
    <div
        style="width:500px; height:370px; background: antiquewhite; display: block; margin-left:auto; margin-right:auto; width: 50%; border:aquamarine 1px solid">
        {{#if retrieveLive.poster}}
        <img style="width:400px; height:300px;display: block; margin-left:auto; margin-right:auto; width: 50%; padding: 20px"
            src="{{retrieveLive.poster}}" alt="Poster">
        {{else}}
        <img style="width:400px;height:300px;display:block; margin-left:auto; margin-right:auto; padding: 20px"
            src="../../public/img/playlist.jpeg" alt="Poster">
        {{/if}}
        <br>
        <span
            style="font-size:20px;color:blue;display: block; margin-left:auto; margin-right:auto; width: 50%; text-align: center; font: bold">{{retrieveLive.name}}</span>
    </div>
    <div>
        <a href="/livestream/{{retrieveLive.id}}"></a>
    </div>
</div>